In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
data = pd.read_csv('Sales-products.csv',index_col="SaleID")
sales_products_data = data.copy()
sales_products_data.head()

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

In [3]:
sales_products_data.tail()

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

In [80]:
sales_products_data.sort_index().sort_values(["Year"]) # sorting by SaleID column and then by Year

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018-01-01,Q1 2018,59728.66,491.0,0.357548
SaleID_562,Finland,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Granite Chalk Bag,2018-01-01,Q3 2018,3857.32,215.0,0.515440
SaleID_561,Finland,Sales visit,Outdoors Shop,Camping Equipment,Climbing Accessories,Firefly Rechargeable Battery,2018-01-01,Q3 2018,11367.52,1454.0,0.593072
SaleID_560,Finland,Sales visit,Outdoors Shop,Mountaineering Equipment,Climbing Accessories,Firefly Charger,2018-01-01,Q3 2018,16856.40,328.0,0.563981
SaleID_56,Canada,Web,Sports Store,Camping Equipment,Navigation,Glacier Deluxe,2018-01-01,Q1 2018,7895.90,88.0,0.389702
...,...,...,...,...,...,...,...,...,...,...,...
SaleID_1164,United Kingdom,E-mail,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Water Bag,2020-01-01,Q2 2020,20433.56,3258.0,0.518169
SaleID_1165,United Kingdom,E-mail,Outdoors Shop,Mountaineering Equipment,Cooking Gear,TrailChef Canteen,2020-01-01,Q2 2020,10351.54,708.0,0.442454
SaleID_1166,United Kingdom,E-mail,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Cook Set,2020-01-01,Q2 2020,49175.16,924.0,0.342656
SaleID_1158,Germany,Phone,Outdoors Shop,Personal Accessories,Climbing Accessories,Granite Pulley,2020-01-01,Q1 2020,20950.62,569.0,0.501170
SaleID_1220,Germany,E-mail,Sports Store,Sports Equipment,Cooking Gear,TrailChef Double Flame,2020-01-01,Q3 2020,27589.38,193.0,0.478817

In [79]:
sales_products_data.describe(include='all') # Getting a general understanding of all the columns

C:\Users\DC\AppData\Local\Temp\ipykernel_22512\1296538192.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  sales_products_data.describe(include='all') # Getting a general understanding of all the columns

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
count,1276,1276,1276,1276,1276,1276,1276,1276,1276.000000,1276.000000,1276.000000
unique,21,7,8,5,21,143,3,10,NaN,NaN,NaN
top,United States,Web,Outdoors Shop,Personal Accessories,Cooking Gear,Venue,2018-01-01 00:00:00,Q3 2018,NaN,NaN,NaN
freq,163,436,443,423,160,29,903,612,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-01 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-01 00:00:00,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31416.916794,600.657502,0.459638
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50802.657023,976.572576,0.111421
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.058709
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7492.935000,108.000000,0.377222
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16242.180000,268.000000,0.459638
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39197.400000,640.000000,0.525656
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,944436.750000,13758.000000,0.780476

 ### Checking Data types

In [6]:
sales_products_data.info() # get the metadata about the table. (6)Year must be changed to datetime.

<class 'pandas.core.frame.DataFrame'>
Index: 1276 entries, SaleID_1 to SaleID_1276
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RetailerCountry  1276 non-null   object
 1   OrderMethod      1271 non-null   object
 2   RetailerType     1273 non-null   object
 3   ProductLine      1273 non-null   object
 4   ProductType      1273 non-null   object
 5   Product          1272 non-null   object
 6   Year             1275 non-null   float64
 7   Quarter          1276 non-null   object
 8   Revenue          1260 non-null   float64
 9   Quantity         1273 non-null   float64
 10  GrossMargin      1250 non-null   float64
dtypes: float64(4), object(7)
memory usage: 119.6+ KB

In [8]:
# Convert Year to datetime format
sales_products_data["Year"] = pd.to_datetime(sales_products_data["Year"],format='%Y')
sales_products_data["Year"]

SaleID
SaleID_1      2018-01-01
SaleID_2      2018-01-01
SaleID_3      2018-01-01
SaleID_4      2018-01-01
SaleID_5      2018-01-01
                 ...
SaleID_1272   2020-01-01
SaleID_1273   2020-01-01
SaleID_1274   2020-01-01
SaleID_1275   2020-01-01
SaleID_1276   2020-01-01
Name: Year, Length: 1276, dtype: datetime64[ns]

In [12]:
type(sales_products_data["Year"])

pandas.core.series.Series

### Filling missing values
### OrderMethod Column

In [13]:
sales_products_data.isnull().sum()

RetailerCountry     0
OrderMethod         5
RetailerType        3
ProductLine         3
ProductType         3
Product             4
Year                1
Quarter             0
Revenue            16
Quantity            3
GrossMargin        26
dtype: int64

In [15]:
sales_products_data["OrderMethod"].describe()

count     1271
unique       7
top        Web
freq       431
Name: OrderMethod, dtype: object

In [19]:
sales_products_data["OrderMethod"].isna().sum()

5

In [28]:
# Fill OrderMethod with top occurring object ie "Web"
sales_products_data["OrderMethod"] = sales_products_data["OrderMethod"].fillna("Web")
sales_products_data["OrderMethod"]

SaleID
SaleID_1               Fax
SaleID_2               Fax
SaleID_3               Fax
SaleID_4               Fax
SaleID_5               Web
                  ...
SaleID_1272    Sales visit
SaleID_1273    Sales visit
SaleID_1274    Sales visit
SaleID_1275    Sales visit
SaleID_1276    Sales visit
Name: OrderMethod, Length: 1276, dtype: object

### Retailer Type

In [32]:
sales_products_data["RetailerType"].describe()

count              1273
unique                8
top       Outdoors Shop
freq                440
Name: RetailerType, dtype: object

In [35]:
# Fill with top
sales_products_data["RetailerType"] = sales_products_data["RetailerType"].fillna("Outdoors Shop")
sales_products_data["RetailerType"]

SaleID
SaleID_1       Outdoors Shop
SaleID_2       Outdoors Shop
SaleID_3       Outdoors Shop
SaleID_4       Outdoors Shop
SaleID_5       Outdoors Shop
                   ...
SaleID_1272    Outdoors Shop
SaleID_1273    Outdoors Shop
SaleID_1274    Outdoors Shop
SaleID_1275    Outdoors Shop
SaleID_1276    Outdoors Shop
Name: RetailerType, Length: 1276, dtype: object

### Product Line

In [36]:
sales_products_data["ProductLine"].describe()

count                     1273
unique                       5
top       Personal Accessories
freq                       420
Name: ProductLine, dtype: object

In [38]:
# fill with top
sales_products_data["ProductLine"] = sales_products_data["ProductLine"].fillna("Personal Accessories")
sales_products_data["ProductLine"]

SaleID
SaleID_1       Personal Accessories
SaleID_2           Sports Equipment
SaleID_3       Personal Accessories
SaleID_4       Personal Accessories
SaleID_5       Personal Accessories
                       ...
SaleID_1272    Personal Accessories
SaleID_1273      Outdoor Protection
SaleID_1274    Personal Accessories
SaleID_1275    Personal Accessories
SaleID_1276       Camping Equipment
Name: ProductLine, Length: 1276, dtype: object

### Product Type

In [72]:
sales_products_data["ProductType"].describe()

count             1273
unique              21
top       Cooking Gear
freq               157
Name: ProductType, dtype: object

In [75]:
sales_products_data["ProductType"].isnull().sum()

3

In [77]:
# fill with top
sales_products_data["ProductType"] = sales_products_data["ProductType"].fillna("Cooking Gear")
sales_products_data["ProductType"]

SaleID
SaleID_1               Cooking Gear
SaleID_2               Cooking Gear
SaleID_3                      Tents
SaleID_4                      Tents
SaleID_5                  First Aid
                       ...
SaleID_1272                    Rope
SaleID_1273    Climbing Accessories
SaleID_1274    Climbing Accessories
SaleID_1275                   Tools
SaleID_1276                   Tools
Name: ProductType, Length: 1276, dtype: object

In [45]:
sales_products_data.columns

Index(['RetailerCountry', 'OrderMethod', 'RetailerType', 'ProductLine',
       'ProductType', 'Product', 'Year', 'Quarter', 'Revenue', 'Quantity',
       'GrossMargin'],
      dtype='object')

### Product

In [46]:
sales_products_data["Product"].isna().sum()

4

In [49]:
sales_products_data["Product"].describe()

count      1272
unique      143
top       Venue
freq         25
Name: Product, dtype: object

In [51]:
#Fill with top
sales_products_data["Product"] =  sales_products_data["Product"].fillna("Venue")
sales_products_data["Product"]

SaleID
SaleID_1       TrailChef Deluxe Cook Set
SaleID_2          TrailChef Double Flame
SaleID_3                       Star Dome
SaleID_4                    Star Gazer 2
SaleID_5              Compact Relief Kit
                         ...
SaleID_1272                Husky Rope 60
SaleID_1273        Firefly Climbing Lamp
SaleID_1274              Firefly Charger
SaleID_1275                  Granite Axe
SaleID_1276              Granite Extreme
Name: Product, Length: 1276, dtype: object

### Year

In [54]:
sales_products_data.head()

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018-01-01,Q1 2018,59728.66,491.0,0.357548
SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018-01-01,Q1 2018,36050.32,254.0,0.484274
SaleID_3,United States,Fax,Outdoors Shop,Personal Accessories,Tents,Star Dome,2018-01-01,Q1 2018,90040.48,149.0,NaN
SaleID_4,United States,Fax,Outdoors Shop,Personal Accessories,Tents,Star Gazer 2,2018-01-01,Q1 2018,NaN,305.0,0.292938
SaleID_5,United States,Web,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018-01-01,Q1 2018,NaN,182.0,0.610710

In [56]:
# fill with top
year_filler = sales_products_data.loc["SaleID_1", "Year"]

In [58]:
sales_products_data["Year"] = sales_products_data["Year"].fillna(year_filler)

### Revenue, Quantity,GrossMargin

In [65]:
# mean of each column
revFiller,quanFiller,grossFiller = sales_products_data["Revenue"].mean(),sales_products_data["Quantity"].mean(),sales_products_data["GrossMargin"].mean()
revFiller,quanFiller,grossFiller

(31416.91679365077, 600.657501963865, 0.459638333568)

In [66]:
# Fill each column with mean
sales_products_data["Revenue"] = sales_products_data["Revenue"].fillna(revFiller)
sales_products_data["Quantity"] = sales_products_data["Quantity"].fillna(quanFiller)
sales_products_data["GrossMargin"] = sales_products_data["GrossMargin"].fillna(grossFiller)

In [69]:
sales_products_data[["Revenue","Quantity","GrossMargin"]]

                  Revenue  Quantity  GrossMargin
SaleID
SaleID_1     59728.660000     491.0     0.357548
SaleID_2     36050.320000     254.0     0.484274
SaleID_3     90040.480000     149.0     0.459638
SaleID_4     31416.916794     305.0     0.292938
SaleID_5     31416.916794     182.0     0.610710
...                   ...       ...          ...
SaleID_1272  30916.500000     173.0     0.298114
SaleID_1273   7536.290000     193.0     0.445287
SaleID_1274  12306.480000     238.0     0.568420
SaleID_1275  56499.000000    1472.0     0.490667
SaleID_1276  89427.000000    1178.0     0.386895

[1276 rows x 3 columns]

In [81]:
# Check for missing values
sales_products_data.isna().sum()

RetailerCountry    0
OrderMethod        0
RetailerType       0
ProductLine        0
ProductType        0
Product            0
Year               0
Quarter            0
Revenue            0
Quantity           0
GrossMargin        0
dtype: int64

 ### Rename some columns

In [86]:
new_column_names = ['Country', 'OrderMethod', 'Retailer', 'Line',
       'Type', 'Product', 'Year', 'Quarter', 'Revenue', 'Quantity',
       'Margin']
sales_products_data.columns = new_column_names
sales_products_data.columns

Index(['Country', 'OrderMethod', 'Retailer', 'Line', 'Type', 'Product', 'Year',
       'Quarter', 'Revenue', 'Quantity', 'Margin'],
      dtype='object')

### Write to csv file

In [93]:
sales_products_data.to_csv('newfile.csv', index=False)

'cat' is not recognized as an internal or external command,
operable program or batch file.